@import url("./components/RegisterForm/RegisterForm.module.css");
@import url("./components/RegisterForm/RegisterForm2.module.css");
@import url("./components/RegisterForm/RegisterForm3.module.css");
@import url("./components/LoginForm/LoginForm.module.css");
@import url("./components/HomePagesForm/ClientPage.module.css");
@import url("./components/HomePagesForm/ModalCadastro.module.css");
@import url("./Layout/index.module.css");
@import url("./components/HomePagesForm/ClientCobrancaPage.module.css");
@import url("./components/HomePagesForm/CobrancaPage.Module.css");
@import url("./components/HomePagesForm/HomePage.module.css");



body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}