.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.teste {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    color: black;
}